{
  "extends": "airbnb",
  "rules": {
    "no-else-return": "off",
    "object-curly-spacing": "off",
    "comma-dangle": "off",
    "import/prefer-default-export": "off",
    "no-shadow": ["error", { "allow": ["describe", "it"] }],
    "padded-blocks": "off",
    "no-mixed-operators": "off",
    "no-nested-ternary": "off"
  }
}