{
  "extends": "airbnb",
  "rules": {
    "no-else-return": "off",
    "object-curly-spacing": "off",
    "comma-dangle": "off",
    "import/prefer-default-export": "off",
    "no-shadow": ["error", { "allow": ["describe"] }],
    "padded-blocks": "off"
  }
}